@model NienLuanCoSo.CHIENDICH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHIENDICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBATDAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANH_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANH_CD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_CD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
