@model NienLuanCoSo.TT_QUYENGOP_HIENVAT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thông tin quyên góp</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MA_QGHV, "Mã quyên góp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MA_QGHV, new { htmlAttributes = new { @readonly = "readonly" } })
            
            @Html.ValidationMessageFor(model => model.MA_QGHV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MA_HV, "Hiện vật", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MA_HV, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.MA_HV, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SOLUONG_QG,"Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SOLUONG_QG, new { htmlAttributes = new { @readonly = "readonly" } }) <a>@(Model.HIEN_VAT.DONVITINH)</a>
            @Html.ValidationMessageFor(model => model.SOLUONG_QG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MA_MTQ,"Mạnh thường quân", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MA_MTQ, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.MA_MTQ, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MA_CD,"Chiến dịch", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MA_CD, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.MA_CD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GHICHU,"Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GHICHU, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.GHICHU, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.TRANGTHAI_HV,"Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="TRANGTHAI_HV" class="form-control">
                <option value="Đã nhận">Đã nhận</option>
                <option value="Chưa nhận">Chưa nhận</option>
            </select>
            @Html.ValidationMessageFor(model => model.TRANGTHAI_HV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngay_QG,"Ngày quyên góp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngay_QG, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Ngay_QG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về danh sách", "Index")
</div>
