@model NienLuanCoSo.MANHTHUONGQUAN

@{
    ViewBag.Title = "Thêm thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mạnh thường quân</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HOTEN_MTQ,"Họ tên:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HOTEN_MTQ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HOTEN_MTQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYSINH_MTQ,"Ngày sinh:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="NGAYBATDAU" value="@string.Format("{0:yyyy-MM-dd}",DateTime.Now)" />
                @Html.ValidationMessageFor(model => model.NGAYSINH_MTQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIOITINH_MTQ,"Giới tính:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="GIOITINH_MTQ" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DONVI_TOCHUC_MTQ,"Đơn vị/tổ chức:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DONVI_TOCHUC_MTQ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DONVI_TOCHUC_MTQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT_MTQ,"Số điện thoại:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT_MTQ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT_MTQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIACHI_MTQ,"Địa chỉ:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI_MTQ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI_MTQ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tiếp tục" class="btn btn-success" />
            </div>
        </div>
    </div>
}

