
@model NienLuanCoSo.HIEN_VAT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Hiện Vật</h2>

<h3>Bạn có chắc muốn xóa?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại Hiện Vật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_HV.DIEN_GIAI)
        </dd>



        <dt>
            Tên Hiện Vật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_HV)
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITINH)
        </dd>

        <dt>
            Số lượng còn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGCON)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <span>Không thể xóa Hiện Vật đã có trao tặng hoặc quyên góp</span> |
            @Html.ActionLink("Về danh sách", "index")
        </div>


        @*<div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Về danh sách", "index")
            </div>}*@
    }
</div>
